<?xml version="1.0"?>
<config>
    <modules>
        <Pureclarity_Core>
            <version>1.0.0</version>
        </Pureclarity_Core>
    </modules>
    <default>
        <pureclarity_core>
            <general_config>
                <brand_attribute_code>brand</brand_attribute_code>
            </general_config>
            <credentials>
                <region>1</region>
            </credentials>
        </pureclarity_core>
    </default>
    <global>
        <models>
            <pureclarity_core>
                <class>Pureclarity_Core_Model</class>
                <resourceModel>pureclarity_core_resource</resourceModel>
            </pureclarity_core>
            <pureclarity_core_resource>
                <class>Pureclarity_Core_Model_Resource</class>
                <entities>
                    <pureclarity_productfeed>
                        <table>pureclarity_productfeed</table>
                    </pureclarity_productfeed>
                </entities>
            </pureclarity_core_resource>
        </models>
        <blocks>
            <pureclarity_core>
                <class>Pureclarity_Core_Block</class>
            </pureclarity_core>
        </blocks>
        <helpers>
            <pureclarity_core>
                <class>Pureclarity_Core_Helper</class>
            </pureclarity_core>
        </helpers>
        <resources>
            <pureclarity_core_setup>
                <setup>
                    <module>Pureclarity_Core</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pureclarity_core_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pureclarity_core>
                    <file>pureclarity/pureclarity.xml</file>
                </pureclarity_core>
            </updates>
        </layout>
        <events>
        
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <pureclarity_core_cart_add>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>logCartAdd</method>
                    </pureclarity_core_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>

            <sales_quote_remove_item>
                <observers>
                    <pureclarity_core_cart_remove>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>logCartRemove</method>
                    </pureclarity_core_cart_remove>
                </observers>
            </sales_quote_remove_item>

            <sales_quote_item_qty_set_after>
                <observers>
                    <pureclarity_core_cart_update>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>logCheckoutUpdateItems</method>
                    </pureclarity_core_cart_update>
                </observers>
            </sales_quote_item_qty_set_after>

            <customer_login>
                <observers>
                    <pureclarity_core_user_login>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>logCustomerLogin</method>
                    </pureclarity_core_user_login>
                </observers>
            </customer_login>

            <customer_logout>
                <observers>
                    <pureclarity_core_user_logout>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>logCustomerLogout</method>
                    </pureclarity_core_user_logout>
                </observers>
            </customer_logout>
        </events>
        <routers>
            <pureclarity_core>
                <use>standard</use>
                <args>
                    <module>Pureclarity_Core</module>
                    <frontName>pureclarity</frontName>
                </args>
            </pureclarity_core>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pureclarity after="Mage_Adminhtml">Pureclarity_Core</pureclarity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <pureclarity_core_product_save_before>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>beforeDeltaSave</method>
                    </pureclarity_core_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <pureclarity_core_product_save_after>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>saveDelta</method>
                    </pureclarity_core_product_save_after>
                </observers>
            </catalog_product_save_after>
            <sales_order_save_after>
                <observers>
                    <pureclarity_core_moto>
                        <class>Pureclarity_Core_Model_Observer</class>
                        <method>motoOrder</method>
                    </pureclarity_core_moto>
                </observers>
            </sales_order_save_after>
        </events>
        <layout>
            <updates>
                <pureclarity_core_adminhtml>
                    <file>pureclarity/run_feed_popup.xml</file>
                </pureclarity_core_adminhtml>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <pureclarity_core_scheduled_feed>
                <schedule>
                    <!-- Every minute -->
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pureclarity_core/cron_scheduledfeed::execute</model>
                </run>
            </pureclarity_core_scheduled_feed>
            <pureclarity_core_delta_feed>
                <schedule>
                    <!-- Every minute -->
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pureclarity_core/cron::deltaFeed</model>
                </run>
            </pureclarity_core_delta_feed>
            <pureclarity_core_full_feed>
                <schedule>
                    <!-- Third hour of every day -->
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>pureclarity_core/cron::runAllFeeds</model>
                </run>
            </pureclarity_core_full_feed>
        </jobs>
    </crontab>
</config>
