<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- Set up a new left tab in the admin settings section -->
    <tabs>
        <pureclarity translate="label" module="pureclarity_core">
            <label>Pureclarity</label>
            <sort_order>99999</sort_order>
        </pureclarity>
    </tabs>

    <sections>
        <pureclarity_core translate="label" module="pureclarity_core">
            <label>Configuration</label>
            <tab>pureclarity</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <environment>
                    <label>Environment</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </environment>
                <credentials>
                    <label>Credentials</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<strong>The Access Key is website and store specific. If you have a different access key for each store view, for example to integrate to PureClarity in different languages, you must set a separate key for each store.</strong>]]></comment>
                    <fields>
                        <access_key>
                            <label>Access Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_key>
                        <secret_key>
                            <label>Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_key>
                        <region>
                            <label>Region</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pureclarity_core/system_config_source_region</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </region>
                    </fields>
                </credentials>
                <general_config>
                    <label>General configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <merch_active translate="label">
                            <label>Merchandizing Zones Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Select if PureClarity should show BMZs</strong>]]></comment>
                        </merch_active>
                        <search_active translate="label">
                            <label>Search Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Select if PureClarity Search should be enabled</strong>]]></comment>
                        </search_active>
                        <prodlisting_active translate="label">
                            <label>Product Listing Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Select if PureClarity product listing should be used on all product listing pages</strong>]]></comment>
                        </prodlisting_active>
                        
                        <notify_feed translate="label">
                            <label>Daily Feed Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Choose if a full data set should be pushed to PureClarity in the early hours each day</strong>]]></comment>
                        </notify_feed>
                        <delta_feed translate="label">
                            <label>Delta Feed Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Choose if changes to products are automatically pushed to PureClarity</strong>]]></comment>
                        </delta_feed>
                        <brand_feed_enabled translate="label">
                            <label>Enable Brand Feed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>If this is enabled the attribute name that has the brand values should be set below.</strong>]]></comment>
                        </brand_feed_enabled>
                        <brand_attribute_code>
                            <label>Brand Attribute Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>This must match the 'Attribute Code' of your brand attribute</strong>]]></comment>
                        </brand_attribute_code>
                    </fields>
                </general_config>
                <actions>
                    <label>Actions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <go_admin_button translate="label">
                            <label>Go to pureclarity admin site</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>pureclarity_core/adminhtml_system_config_pcadminbutton</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </go_admin_button>
                        <install_bmz_button translate="label">
                            <label>Install default BMZ blocks</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>pureclarity_core/adminhtml_system_config_bmzinstallbutton</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>If you want the default BMZ static block, click this button. You should only need to do this once, but if you deleted the default BMZ you can click this button again to reinstall it.</strong>]]></comment>
                        </install_bmz_button>
                        <run_feed_button translate="label">
                            <label>Run a feed now</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>pureclarity_core/adminhtml_system_config_runfeedbutton</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Under normal conditions; you don't need to run feeds manually, this is done automatically every day.</strong>]]></comment>
                        </run_feed_button>
                    </fields>
                </actions>
                <placeholders>
                    <label>Placeholder images</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <placeholder_product>
                            <label>Product image placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Leave this blank to use the magento default placeholder</strong>]]></comment>
                        </placeholder_product>
                        <placeholder_category>
                            <label>Category image placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Leave this blank to use the magento default placeholder</strong>]]></comment>
                        </placeholder_category>
                        <placeholder_category_secondary>
                            <label>Secondary category image placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Leave this blank to use the magento default placeholder</strong>]]></comment>
                        </placeholder_category_secondary>
                        <placeholder_brand>
                            <label>Brand image placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>Leave this blank to use the magento default placeholder</strong>]]></comment>
                        </placeholder_brand>
                    </fields>
                </placeholders>
                <advanced>
                    <label>Advanced options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <bmz_debug translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<strong>In Debug Mode the BMZ Id is shown on BMZs that have no content. Leave this disabled in production use.</strong>]]></comment>
                        </bmz_debug>
                    </fields>
                </advanced>
            </groups>
        </pureclarity_core>
    </sections>
</config>
